*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 85.5%;
}

#logo{
    font-family:"La Belle Aurore";
    color: #442D1C
}

body{
    font-family:"Montserrat";
    background-color: #E8D1A7;
}

a{
    text-decoration: none;
    color: #442D1C;
}

img{
    max-width: 100%;
    display: block;
}

ul{
    list-style: none;
}

button{
    border: none;
    background-color: transparent;
    outline: none;
    color: #442D1C;
}

.container{
    max-width: 160rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.place-items-center{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.header{
    background-color: #84592B;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.5rem;
}

.btn{
    cursor: pointer;
}

.search-form-container{
    width: 100%;
    max-width: 100%;
    height: 100vh;
    background-color: #E8D1A7;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}

.form-container-inner{
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form{
    display: flex;
    justify-content: center;
}

.form-input,
.form-btn{
    display: inline-block;
    border: 2px solid #84592B;
    padding: 1.5rem;
}

.form-input{
    border-right: none;
    width: 100%;
}

.form-btn{
    margin-left: -.5rem;
    border-left: none;
    background-color: #84592B;
    width: 8rem;
}

.form-note{
    font-size: x-small;
    align-self: flex-end;
}

.form-close-btn{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    border: 2px solid #84592B;
    width: 4rem;
    height: 4rem;
}

#main-logo{
    width: 45%;
    display: block; 
    margin: 2rem auto;
    margin-top: 10rem;
    margin-bottom: 4rem;
}

.intro-text{
    text-align: center; 
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 10px;
    color: #4F382B; 
}

.intro-heading{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.intro-paragraph{
    font-size: 1.2rem;
    line-height: 1.6; 
}

#about-me{
    width: 40%;
    display: flex;
    margin-left: 52rem;
    margin-top: .5rem;
}

#my-pics{
    width: 40%;
    margin-left: 6rem;
    margin-top: -40rem;
    float: left;
}

#about-me-para1{
    margin-top: -13rem;
    margin-left: 55rem;
    margin-right: 10rem;
    font-size: larger;
    text-align: justify;
}

#about-me-para2{
    margin-top: 2rem;
    margin-left: 55rem;
    margin-right: 10rem;
    font-size: larger;
    text-align: justify;
}

#my-pic2{
    width: 36%;
    margin-right: 6rem;
    margin-top: 5rem;
    float: right;
    position: relative;
}

#about-me-para3{
    margin-top: 17rem;
    margin-right: 55rem;
    margin-left: 10rem;
    font-size: larger;
    text-align: justify;
    position: relative;
}

#about-me-para4{
    margin-top: 2rem;
    margin-right: 55rem;
    margin-left: 10rem;
    font-size: larger;
    text-align: justify;
    position: relative;
}

#linkedin-logo{
    font-size: 4.25rem;
    margin-left: 14rem;
    display: inline-block;
    position: relative;
    top: 4rem;
}

#instagram-logo{
    font-size: 4.25rem;
    margin-left: 9rem;
    display: inline-block;
    position: relative;
    top: 4rem;
}

#github-logo{
    font-size: 4.25rem;
    margin-left: 9rem;
    display: inline-block;
    position: relative;
    top: 4rem;
}

.latest-heading{
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 3rem;
    text-align: center;
    color: #4F382B;
}

#thumbnail1{
    width: 35%;
    position: relative; 
    margin: 2rem auto;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

#latest-desc{
    font-size: 1.2rem;
    line-height: 1.6; 
    text-align: center;
    margin-top: -3rem;
    font-size: larger;
    color: #4F382B;
}

#latest-desc-sub{
    font-size: 1.2rem;
    line-height: 1.6; 
    text-align: center;
    font-size: small;
    margin-top: -1rem;
    margin-bottom: 2.5rem;
    color: #4F382B;
}

#blogdesc{
    font-size: 1rem;
    line-height: 1.6; 
    text-align: center;
    margin-top: -3rem;
    font-size: larger;
    margin-bottom: 2.5rem;
    color: #4F382B;
}

.bloglist{
    margin-top: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#thumbnail1b{
    width: 20%;
    position: relative; 
    margin: 2rem auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
}